POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:port/${POSTGRES_DB}?sslmode=disable
GOOSE_MIGRATION_DIR=./directory